body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .tabs {
    margin-top: 20px;
    display: flex;
  }
  
  .tablink {
    display: inline-block;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .tablink:hover {
    background-color: #45a049;
  }
  
  .tablink.active {
    background-color: #021b03;
  }
  
  .tabcontent {
    display: none;
  }
  
  .tabcontent.active {
    display: block;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="number"] {
    padding: 5px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #ccc;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #distanceOutput {
    margin-top: 20px;
    font-weight: bold;
  }
  
  #tableOutput {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tableOutput th,
  #tableOutput td {
    padding: 5px 10px;
    border: 1px solid #000;
  }
  
  #tableOutput .highlight {
    background-color: green;
    color: white;
  }

  #launchAngleInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
  }

  #bombSelect {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
  }

  input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
  }
  